<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Constants for robot -->
    <xacro:property name="PI" value="3.1415926535897931" />

    <!-- robot limits -->
    <xacro:property name="max_effort" value="50.0" />
    <!-- joint limit for wheels, radian/second -->
    <xacro:property name="max_wheel_velocity" value="20.0" />
    <xacro:property name="wheel_radius" value="0.13" />
    <xacro:property name="wheel_width" value="0.08" />

    <xacro:property name="base_height" value="0.18"/>

    <!-- Diff wheel ode params -->
    <xacro:macro name="wheel_ode_params">
        <mu1 value="20" />
        <mu2 value="0.6" />
        <kp value="10000000.0" />
        <kd value="1" />
        <fdir1 value="1 0 0" />
    </xacro:macro>

    <xacro:macro name="box_inertia" params="m w h d">
      <inertial>
        <pose>0 0 0 ${pi/2} 0 ${pi/2}</pose>
        <mass>${m}</mass>
        <inertia>
          <ixx>${(m/12) * (h*h + d*d)}</ixx>
          <ixy>0.0</ixy>
          <ixz>0.0</ixz>
          <iyy>${(m/12) * (w*w + d*d)}</iyy>
          <iyz>0.0</iyz>
          <izz>${(m/12) * (w*w + h*h)}</izz>
        </inertia>
      </inertial>
    </xacro:macro>


</robot>